.Contact-Line {
    width: 70%;
    height: 0.2vh;
    background-color: #5b5858;
    margin-left: 10%;
    margin-top: 10%;
}

.ContactUs-Page {
    width: 100%;
    height: auto;
    background-color: #000202;
}

.Contact-Content {
    width: 100%;
    background-color: rgb(145, 100, 41);
    height: auto;
}

.FirstPartContact {
    display: flex;
}

.Contact-Wastage {
    width: 100%;
    height: auto;
    background-color: rgb(203, 154, 89);
    display: flex;
}

.Content-Wastage {
    width: 35%;
    height: auto;
    background-color: antiquewhite;
    margin: auto;
    display: block;
    align-items: left;
    justify-content: center;
}

.Contact-Title {
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    margin-top: 15%;
    top: 0;
    left: 0;
    z-index: 999;
    font-size: 3rem;
    font-weight: 700;
    color: #20433c;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
}

.Contact-Text {
    width: 100%;
    background-color: antiquewhite;
    height: auto;
    margin-top: 4%;
    color: #20433c;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.fancy {
    background-color: transparent;
    border: 2px solid #20433c;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 5%;
    margin-right: 55%;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #20433c;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #20433c;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: black;
    background: #a2d3a6;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: black;
}

.fancy:hover .text {
    color: black;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.Button-Div {
    width: 100%;
    height: 10vh;
    background-color: antiquewhite;
    margin-top: 3%;
}

.Contact-Info-Container {
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: block;
    margin-bottom: 5%;
    margin-left: 3%;
}

.PlantText {
    background-color: an;
    width: 90%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 999;
    font-size: 1.5rem;
    font-weight: 500;
    color: #20433c;
    display: flex;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.Contact-Image-Container {
    width: 65%;
    height: 80vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reflection-content-Contact {
    background-color: antiquewhite;
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
