.B2_container{
    width: 90%;
    height: 75vh;
    border-radius: 1rem;
    margin-left: 5%;
    margin-top: 5%;
    background-image: url("./Banner2bg.png");
    background-size: cover; /* This will make the background image cover the entire container */
    background-position: center; /* This will center the background image */
    display: flex;
  }
  .B2_left{
    width: 50%;
    height: 100%;
  
  }
  .B2_right{
    width: 50%;
    height: 50%;
    margin-top: 18%;
  
  }
  .B2_right_inner{
    width: 80%;
    height: 80%;
    
    margin-left: 10%;
  
  }
  .B2_right_subtitile{
    margin-left: 7%;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    justify-content: center;
    color: #fff;
  }
  .B2_btn{
    width: 4rem;
    font-size: 2rem;
    font-family: poppins;
    height: 4rem;
    margin-left: 60%;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to right, #111, #431111 5%, #f00 50%, #151515 96%, #431111);
    text-decoration: none;
  }
  