*{
    box-sizing: border-box;
}
.UF_container{
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    background-color: #181818;
    display: flex;
}
.UF_complaint_bar{
    width: 20%;
    background-color: #181818;
    font-family: Poppins;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    border: none;
    color: #a4e1f4;
}
.UF_complaint_bar:hover{
    background-color: #a4e1f4 ;
    color: #181818;
    border-radius: 5%;
}
