.admin-dashboard {
  display: flex;
  height: 120vh;
}

.sidebar {
  width: 20%;
  height: auto;
  background-color: #333;
  color: white;
  padding: 20px;
}

.sidebar .tab {
  padding: 10px;
  cursor: pointer;
}
.adlogo{
  width: 60%;
  margin-left: 5%;
}

.sidebar .tab:hover {
  background-color: #444;
}

.content {
  width: 80%;
  padding: 20px;
}
#namead{
  margin-top: 60%;
  width: 100%;
  text-align: center;
}
#btnad{
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px; 
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s; 
  margin-left: 30%;
}
