.innerComp2 {
    margin: 20px;
  }
  
  /* Form styling */
  .user-details {
    display: grid;
    gap: 10px;
  }
  
  /* Label styling */
  .user-details label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  /* Input field styling */
  .user-details input {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style for the paragraph inside form */
  .user-details p {
    margin-top: 10px;
    color: #ffffff;
  }
  table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: none;
  }
  .save_btn {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .save_btn:hover {
    background-color: #45a049;
  }