.Home-Container{
    width: 1440px;
    height: 3200px;
    margin: 0;
    padding: 0 28px 0 212px;
    flex-grow: 0;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), #0b0000, rgba(0, 0, 0, 0.89));
  }
  .hero_section{
    width: 1440px;
    height: 764px;
    display: flex; /* Change to flexbox for side-by-side layout */
    flex: 0;
  }
  .leftside_HS{
    position: relative;
    right:50px;
    width: 722px;
    height: 764px;
    padding:60px 0px 30px 0;
    margin: 0 0px 2px 0;
  }
  .hero_CyberSoochna{
    width: 322px;
    height: 55px;
    margin: 7px 0px 49px 0;
    background-image: linear-gradient(to bottom, #a9e3f4, #62848e);
    font-family: Roboto;
    font-size: 70px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero_hd2{
    width: 722px;
    height: 67px;
    margin: 49px 0 42px;
    background-image: linear-gradient(to bottom, #0080ff, #62848e);
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    
  }
  .hero_hd3{
    width: 540px;
    height: 47px;
    margin: 47px 182px 0 0;
    background-image: linear-gradient(to bottom, #a9e3f4, #62848e);
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pp{
    padding-top: 25px;
  }
  .hero_sbh{
    width: 652px;
    height: 27px;
    margin: 29px 26px 36px 0;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
  }
  .left_bottom{
    padding-top: 1rem;
  }
.report_btn{
  width: 500px;
  height: 70px;
  padding: 0 80.4px 0 48.2px;
  margin: 1rem;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5a737a 0%, #68afc4 49%, #5a737a 100%);
}
.Report_text{
  width: 308.7px;
  height: 70px;
  margin: 0 0 0 5.6px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #101010;
}
.report_btn:hover{
  width: 502px;
  height: 72px;
  padding: 0 80.7px 0 48.4px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #68afc4 100%, #5a737a 0%, #68afc4 100%);
}
.rightside_HS{
  margin: 0;
  width: 600px;
}
.hero_i {
  height: 742px;
  width: 750px;
  position: relative;
}

.em {
  border: 0;
  width: 625px;
  height: 64.2px;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  background-image: linear-gradient(to right, #111, #431111 22%, #f00 50%, #151515 82%, #431111);
  position: absolute;
  top: 54%;
  left: 75%;
  transform: translate(-50%, -50%);
}

