.Home-Container{
    width: 1440px;
    height: 3200px;
    margin: 0;
    padding: 0 28px 0 212px;
    flex-grow: 0;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.85), #000, rgba(21, 21, 21, 0.89));
  }