.B1_container{
  width: 90%;
  height: 75vh;
  border-radius: 1rem;
  margin-left: 5%;
  margin-top: 5%;
  background-image: url("./Banner1bg.png");
  background-size: cover; /* This will make the background image cover the entire container */
  background-position: center; /* This will center the background image */
  display: flex;
}
.B1_left{
  width: 45%;
  height: 100%;

}
.B1_right{
  width: 55%;
  height: 100%;
}
.B1_right_inner{
  width: 80%;
  height: 80%;
  margin-top: 7%;
  margin-left: 7%;

}
.B1_right_title{
  width: 100%;
  height: 35%;
  background-image: linear-gradient(to right, #fff, #999);
  font-family: Roboto;
  font-size: 3rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.B1_right_subtitile{
  margin-left: 7%;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
