.DC_component {
  width: 100%;
  height: 110vh;
  border-radius: 2px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.85),
    #0b0000,
    rgba(0, 0, 0, 0.89)
  );
}
.DC_innercomponent {
  width: 90%;
  height: 110vh;
  margin-left: 5%;
}
.DC_innerform {
  width: 85%;
  height: 100%;
  margin-left: 7%;
}
.img_dc {
  width: 40%;
  height: 45%;
  margin-left: 30%;
  animation-name: rotateAnimation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.dc_text {
  margin: 0;
  margin-left: 30%;
  color: rgb(157, 157, 255);
}

.draft_table {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
}
.table-container {
  width: 100%;
  height: 40vh;
  margin-top: 2%;
  border: 1px solid #ddd;
  background-color: #312d2d;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 7px 7px 5px rgba(132, 124, 124, 0.5); 
}
.datatable {
  width: 100%;
  border: none;
}
.datatable td {
  color: #fff;
  text-align: center;
  padding: 10px;
  border: none;
}

.datatable th {
  padding: 14px;
  color: #fff;
  border-bottom: 2px solid rgb(95, 88, 88);
}

.goto_cd {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.open_button {
  --primary-color: #f8f4f4;
  --secondary-color: #002152;
  --hover-color: #eceff2;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  margin-left: 16%;
  font-weight: bold;
}

.open_button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open_button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.open_button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.open_button:hover {
  background-color: var(--hover-color);
}

.open_button:hover .arrow {
  background: var(--secondary-color);
}

.open_button:hover .arrow:before {
  right: 0;
}
