  
  .Group-107 .BlueContainer {
    width: 1440px;
    height: 253px;
    padding: 54px 85px 40px 10px;
    margin:1980px 0 0 -140px;
    border-radius: 10px;
    border: solid 1px #9f9f9f;
    background-image: linear-gradient(to right, #88bdf2, #6d97c1 41%, #6d97c1 58%, #88bdf2);
  }
  
  .Group-107 .USEFUL-LINKS {
    width: 300px;
    height: 51px;
    margin: -40px 11px 44px   630px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
  .Group-107 .ThirdRectangle  {
    width: 208px;
    height: 86px;
    margin: -160px 31px 740px 680px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .FourthRectangle  {
    width: 208px;
    height: 86px;
    margin: -830px 31px 74px 950px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .FifthRectangle  {
    width: 208px;
    height: 86px;
    margin: -160px 0 74px 1220px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .SecondRectangle {
    width: 208px;
    height: 86px;
    margin: -163px 12px 74px 410px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .FirstRectangle {
    width: 208px;
    height: 86px;
    margin: 44px 31px 74px 150px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .SixEllipse {
    width: 11px;
    height: 11px;
    margin: -70px 0 7px 1000px;
    background-color: #d9d9d9;
  }
  
  .Group-107 .SevenEllipse {
    width: 11px;
    height: 11px;
    margin: 704px 7px 0;
    background-color: #d9d9d9;
  }
  
  .Group-107 .EigthEllipse {
    width: 11px;
    height: 11px;
    margin: 20px 7px 0 -90px;
    background-color: #eb1c1c;
  }
  
  .Group-107 .NinthEllipse {
    width: 11px;
    height: 11px;
    margin: 7px 9px 0 70px;
    background-color: #d9d9d9;
  }
  
  .Group-107 .TenthEllipse {
    width: 11px;
    height: 11px;
    margin: 7px 91px 0 9px;
    background-color: #d9d9d9;
  }