  
  .Group-107 .BlueContainer {
    width: 1440px;
    height: 253px;
    padding: 54px 85px 40px 10px;
    margin:1980px 0 0 -140px;
    border-radius: 10px;
    border: solid 1px #9f9f9f;
    background-image: linear-gradient(to right, #88bdf2, #6d97c1 41%, #6d97c1 58%, #88bdf2);
  }
  
  .Group-107 .USEFUL-LINKS {
    width: 300px;
    height: 51px;
    margin: -40px 11px 44px   630px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
  .Group-107 .ThirdRectangle  {
    width: 208px;
    height: 86px;
    margin: -10px 31px 74px 20px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .FourthRectangle  {
    width: 208px;
    height: 86px;
    margin: -10px 31px 74px 20px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .FifthRectangle  {
    width: 208px;
    height: 86px;
    margin: -10px 31px 74px 20px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .SecondRectangle {
    width: 208px;
    height: 86px;
    margin: -10px 31px 74px 20px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  
  .Group-107 .FirstRectangle {
    width: 208px;
    height: 86px;
    margin: -10px 31px 74px 100px;
    border-radius: 10px;
    border: solid 1px #929292;
    background-color: #d9d9d9;
  }
  

  .Group-107.AllRectangles{
    display: flex;
    justify-content: center;
    position: relative;
    left: 200%;
  }

  .Group-107.AllBoxes{
    padding-right: 4000px;
  }

.FirstRectangle:hover,
.SecondRectangle:hover,
.ThirdRectangle:hover,
.FourthRectangle:hover,
.FifthRectangle:hover {
  background-color: #c0c0c0;
  transform: scale(1.05); /* Change to desired hover background color */
}