.Group-107{
  width: 90%;
  height: 100%;
  padding-left:4%;
  padding-right: 5%;

}
.Group-107 .BlueContainer {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  margin-left: 5%;
}
.inside_bluecontainer{
  padding-left: 7rem;
  padding-top: 1rem;
}
.Group-107 .USEFUL-LINKS {
  width: 100%;
  height: 3.1875rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 2.25rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.paraUseful{
  width: 100%;
  text-align: center;
}
.Group-107 .ThirdRectangle,
.Group-107 .FourthRectangle,
.Group-107 .FifthRectangle,
.Group-107 .SecondRectangle,
.Group-107 .FirstRectangle {
  width: 10vw;
  height: 4.5rem;
  margin: 1.5rem 1.9375rem 4.625rem 2%;
  border-radius: 0.625rem;
  border: solid 0.0625rem #929292;
  background-color: #d9d9d9;
}

.Group-107 .AllBoxes {
  padding-right: 156.25rem;
}

.FirstRectangle:hover,
.SecondRectangle:hover,
.ThirdRectangle:hover,
.FourthRectangle:hover,
.FifthRectangle:hover {
  background-color: #c0c0c0;
  transform: scale(1.05);
}

.blockforLink{
 width: 100%;
 height: 4rem;
 
}