.em_component {
    width: 100%;
    height: 2rem;
    border-radius: 0.1rem;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to right, #111, #431111 22%, #f00 50%, #151515 82%, #431111);
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .em_component {
        font-size: 80%;
        height: 90%rem;
        width: 100%;
    }
}
