.Rectangle-135 {
    width: 1440px;
    height: 80px;
    margin: 0 0 0px;
    padding: 2px 28px 0 212px;
    background-color: rgb(0, 0, 0);
  }
  .navbar-content {  /* New class for content container */
    display: flex;  /* Enable flexbox for side-by-side layout */
  }  
  .image-remofgvsfvebg-preview-2 {
    width: 79px;
    height: 80px;
    margin: 0;
  }
  .CyberSoochna-1 {
    position: relative;
    top: 1.2rem;
    left: 5px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: SawarabiMincho;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #88bdf2;
  }
.navbartitle_container{
    position: relative;
    left: 15rem;
}
  .complaint-btn {
    background-color: transparent;
    margin: 1.5rem;
    position: relative;
    top: 0.3rem;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    border: 0;
    color: #a4e1f4;
  }
  .complaint-btn:hover{
    color: #f00;
  }
  
