.ISD_component {
  width: 100%;
  height: 130vh;
  border-radius: 2px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.85),
    #0b0000,
    rgba(0, 0, 0, 0.89)
  );
}
.ISD_innercomponent {
  width: 90%;
  height: 130vh;
  margin-left: 5%;
}
.ISD_innerComp2 {
  width: 85%;
  min-height: 90vh;
  max-height: 130vh;
  margin-left: 7%;
  background-color: #2d2d2dbd;
}
.ISD_susdetail_bar {
  width: 100%;
  height: 2.2rem;
  background-color: #88bdf2;
  border-radius: 0.2rem;
}
.ISD_sus_text {
  width: 25%;
  height: 2.2rem;
  font-family: Poppins;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.ISD_formComp_1 {
  width: 100%;
  height:11%;
  display: block;
  margin-top: 1rem;
}
.ISD_vertical_input {
  width: 100%;
  height: 2rem;
  display: flex;
  margin-bottom: 1%;
  margin-top: 0.2rem;
}
.ISD_vi_text {
  width: 20%;
  margin: 1.5rem 0 0 5rem;
  font-family: Poppins;
  font-size: 1.1rem;
  text-align: left;
  color: #a4e1f4;
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  text-decoration: none; /* Remove default link underline */
}
.ISD_vi_input {
  width: 30%;
  height: 2rem;
  margin: 1.4% 0 0 10%;
  border-radius: 5px;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border: none;
}
.ISD_block{
    width: 100%;
    height: 1.5rem;
    border-bottom: #c6c6c6 solid 1px;
}
.ISDL2_formComp_1{
    width: 100%;
    height: 50%;
    display: block;
    margin-top: 1rem;
}
#ISDT{
    font-size: 1.1rem;
    width: 27%;
    margin: 1rem 0 0rem 5rem;
    color: #a4e1f4;
    display: inline-flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none; /* Remove default link underline */
}
#ISDI{
    width: 15%;
    margin: 0.3% 0 0 3%;
    color: #676767;
}
.radio_isd_btn{
  margin-top: 1.3rem;
}
.radio_text_isd{
    font-size: 1rem;
    margin: 0.8rem 1.5rem 0 0.3rem;
}
#ISD_vi_text_id{
    margin: 3% 9.5% 0 6.9%;
}
.ISD_vi_input-text{
    width: 30%;
    height: 2rem;
    margin-left: 10%;
    border-radius: 5px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    border: none;
}
#ISD_VI{
    margin-top: 1%;
}
#ISDVII{
    height: 10rem;
    justify-content:start;
    text-align: start;
}
#ss_b{
    color: green;
}
#ss_b:hover{
    background-color: green;
    color: white;
}
.ISD_lasttext{
    width: 100%;
    height: 1rem;
    margin-top: 12%;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
