body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.SD_component{
    width: 100%;
    min-height: 145vh;
    margin-bottom: 2%;
    border-radius: 2px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      #0b0000,
      rgba(0, 0, 0, 0.89)
    );
}
.SD_innercomponent{
  width: 80%;
  height: 145vh;
  margin-left: 5%;
}
.SD_innerComp2{
  width: 85%;
  min-height: 40vh;
  max-height: 150vh;
  margin-left: 7%;
  background-color: #2d2d2dbd;
}
.susdetail_bar{
  width: 100%;
  height: 2.2rem;
  border-radius: 0.2rem;
  background-color: #88bdf2;
}
.susdetail_bar1{
  width: 72%;
  height: 2.2rem;
  border-radius: 0.2rem;
  background-color: #4f86d2;
  margin-left: 2.7%;
}
.sus_text{
  width: 15%;
  height: 2.2rem;
  font-family: Poppins;
  padding-top: 0.5rem;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.sus_text2{
  width: 100%;
  height: 2.2rem;
  text-align: left;
  font-family: Poppins;
  padding-top: 0.5rem;
  margin-left: 1%;
  font-size: 0.9rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.sus_agree{
  width: 100%;
  height: 2.2rem;
  display: flex;

}
.sus_text3{
  width: 100%;
  height: 2rem;
  font-family: Poppins;
  padding-top: 0.5rem;
  font-size: 1rem;
  margin: 1.4% 0 0 1%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
#text3{
  margin-left: 2.7%;
}
.suspectDetails{
  min-height: 5vh;
  max-height: 90vh;
  width: 70%;
  display: inline-block;
  margin: 2% 0 0 2.7%;
}
.suspect_block{
  height: 2.5rem;
  width: 100%;
  display: flex;
}
.div_block2{
  min-height: 2rem;
  overflow-y: auto;
  max-height: 40vh; 
  width: 100%;
  color: #fff;
  margin-top: 3%;
  border: solid 0.1rem #656565;
}
.div_block2 table{
  border-collapse: collapse;
}
.div_block2 th, td{
  padding: 0.5rem 2.225rem;
  border: solid 0.1rem #656565;
}
.SS_vi_text{
  width: 4rem;
  height: 2rem;
  margin: 0;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a4e1f4;
}
.SS_vi_input1{
  width: 40%;
  height: 2rem;
  padding-left: 1%;
  border-radius: 5px;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border: none;

}
.SS_vi_input2{
  width: 15%;
  height: 2rem;
  margin-left: 3%;
  padding-left: 1%;
  border-radius: 5px;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border: none;
}
.SS_vi_input3{
  width: 30%;
  height: 2rem;
  padding-left: 1%;
  margin-left: 3%;
  border-radius: 5px;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border: none;
}
.SS_button{
  width: 12%;
  height: 85%;
  margin-left: 4%;
  font-size: 1.1rem;
  padding: 0.5em 2em;
  font-family: monospace;
  text-transform: uppercase;
  border-radius: 4px;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #4f86d2;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex; 
  cursor: pointer;
}
#SS_button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #4f86d2 0%, rgb(36, 123, 210) 100%);
}
#SS_button:active {
  transform: translate(0em, 0.2em);
}
.div_block{
  height: 1rem;
  width: 100%;
}
.suspect_bock2{
  height: 3rem;
  width: 80%;
  display: flex;
  margin: 2% 0 0 2.7%;
}
.sus_up_text{
  width: 40%;
  height: 2rem;
  font-family: Poppins;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.sus_final_agree{
  width: 100%;
  height: 2.2rem;
  display: flex;
}
.ss_radio{
  background-color: #d9d9d9;
  height: 1rem;
  margin-top: 0.2rem;
}
.ss_radio1{
  background-color: #d9d9d9;
  height: 1rem;
  margin: 2.2% 0 0 2.7%;
}
.radio_text_isd{
  color: #fff;
}
.ss_radio_name{
  width: 5%;
  height: 2rem;
  font-family: Poppins;
  font-size: 12px;
  margin: 0;
  margin-top: 0.3rem;
  margin-left: 2%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.div_block3{
  height: 3rem;
  width: 100%;
}
#sd_file{
  width: 40%;
  margin-left: 0%;
}
.ss_btns{
  display: flex;
  width: 100%;
  height: 2rem;
  padding-bottom: 5%;
}
.ss_save_btn1{
  margin-left: 4%;
  font-family: Poppins;
  font-size: 1rem;
  padding: 1.5%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ed4242;
  text-decoration: none;
  display: inline-flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none; /* Remove default link underline */
  background-color: transparent;
  border: 1px solid ;
}
.ss_save_btn2{
  margin-left: 4%;
  font-family: Poppins;
  font-size: 1rem;
  padding: 1.5%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00ff95;
  text-decoration: none;
  display: inline-flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none; /* Remove default link underline */
  background-color: transparent;
  border: 1px solid ;
}
.ss_save_btn3{
  margin-left: 4%;
  font-family: Poppins;
  font-size: 1rem;
  padding: 1.5%;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8293ff;
  text-decoration: none;
  display: inline-flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none; /* Remove default link underline */
  background-color: transparent;
  border: 1px solid ;
  cursor: pointer;
}
.ss_save_btn1:hover{
  background-color: #b73737;
  color: #fff;
}
.ss_save_btn2:hover{
  background-color: #43b686;
  color: #fff;
}
.ss_save_btn3:hover{
  background-color: #8293ff;
  color: #fff;
}