.JoinUsContainer{
    width: 100%;
    height:auto;
    background-color: #000;
    margin-bottom: 1%;
}
.CombineText{
    display: flex;
}
.TextContentJoin{
    background-color: #000;
    width:70%;
    height:auto;
}

.TextContentTwoJoin{
    background-color: rgb(54, 185, 185);
    width:35%;
    height:50vh;
    margin-bottom: 2%;

} 

.ImgJoin {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.ImgJoin img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
    object-fit: contain;
    margin-bottom: 2%; /* Fit the image inside the container while maintaining its aspect ratio */
}

.JoinUsText {
    background-color: #000;
    width: 80%;
    height: 100%; /* Fill the available height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: 0; /* Initially hide the content */
    transition: opacity 1s ease; /* Smooth transition for opacity */
}

.JoinUsText.isVisible {
    opacity: 1; /* Show the content when isVisible is true */
    animation: slideFromLeft 1s ease; /* Animation for sliding in from left to right */
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%); /* Start from outside the screen on the left */
    }
    to {
        transform: translateX(0); /* Slide to the original position */
    }
}
.JoinUsText > * {
    max-width: 100%; /* Ensure content does not exceed container's width */
    max-height: 100%; /* Ensure content does not exceed container's height */
}

.TextDecoration{
    color: #fff;
    font-size: 2.3rem;
}


.ButtonJoinCSS {
    margin-left: 3%;
}


.AboutUsText {
    background-color: #000;
    width: 80%;
    height: auto; /* Fill the available height */
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    opacity: 0; /* Initially hide the content */
    transition: opacity 1s ease; /* Smooth transition for opacity */
}

.AboutUsText.isVisible {
    opacity: 1; /* Show the content when isVisible is true */
    animation: slideFromRight 1s ease; /* Animation for sliding in from right to left */
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%); /* Start from outside the screen on the right */
    }
    to {
        transform: translateX(0); /* Slide to the original position */
    }
}

.AboutUsText > * {
    max-width: 100%; /* Ensure content does not exceed container's width */
    max-height: 100%; /* Ensure content does not exceed container's height */
}

.AboutTextContentJoin{
    background-color: #000;
    width:65%;
    height:auto;
    display: block;
}

.ParaDecoration{
    color: #fff;
}