.Group-36 {
  width: 100%;
  height: 60;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #161616;
}
.Rectangle-29 {
  width: 89%;
  height: 60vh;
  margin-left: 5%;
  padding: 0.1rem;
}

.BoxBox {
  background-color: #161616;
  width:45%;
  height:48vh;
  margin: 2% 0 0 0;
}

.LogoBoxes{
  background-color: red;
  width:15%;
  height:48vh;
  margin: -27.4% 0 0 48%;

}

.LinkBoxes{
  background-color: blue;
  width:35%;
  height:48vh;
  margin: -27.54% 0 0 68%;
}


.image-remofgvsfvebg-preview-1 img {
  width:18%;
  height:14vh;
  margin: 0 0 0 1%;
}

.CyberComponent {
  width: 23.0625%;
  height: auto;
  padding-left: 2rem;
  font-family: SawarabiMincho;
  font-size: 3.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.ResilienceBlock{
  margin: 0 0 0 0;
}
.A-resilient-Framework-for-collecting-and-responding-t-o-digital-crimes-and-frauds {
  width: 33.8125vw;
  height: 7.25vh;
  margin: 3% 0 0 6%;
  font-family: SawarabiMincho;
  font-size: 1.4rem;
  color: #fff;
}

.threat{
  margin: 3.2%;
}
.Rising-Threat-National-Concern-Action-Needed {
  width: 15vw;
  height: 4.5vh;
  padding-left: 2.6rem;
  font-family: SawarabiMincho;
  margin: -2% 0 0 0;
  font-size: 1rem;
  color: rgba(230, 230, 230, 0.85);
}

.F_img_1 {
  padding-top: 0.6rem;
  padding-left: 3.5rem;
  height: 30%;
  width: 100%;
}
.icc {
  width: 60%;
  height: 70%;
  padding-left: 1rem;
}

.emblem {
  width: 60%;
  height: 79%;
}

.CyberDost {
  width: 45%;
  height: 80%;
  padding-left: 1rem;
}
.left_up {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.85);
  font-family: SawarabiMincho;
  margin-top: 5rem;
  margin-left: 5rem;

}
.subtext{
  margin-bottom: 1.2rem;
}
.Footer_icons{
  width: 100%;
  height: auto;
  display: flex;
  margin-left: 5rem;
}
.Frame5{
  width: 10%;
  height: auto;
}
.ho{
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.50);
}
.ho_text{
  margin-left: 1rem;
  margin-top: 0.1rem;
}
