.Group-36 {
  width: 100%;
  height: 60vh;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #161616;
}
.Rectangle-29 {
  width: 89%;
  height: 60vh;
  margin-left: 5%;
  padding: 0.1rem;
}
.colums {
  width: 100%;
  height: 50vh;
  padding: 0.1rem;
  display: flex;
  border-bottom: solid 0.1rem rgba(84, 84, 84, 0.50);
}
.vert-1 {
  width: 40%;
  margin-left: 0.5rem;
}
.vert-2 {
  width: 20%;
  padding-top: 0.2rem;
}
.vert-3 {
  width: 40%;
}
.image-remofgvsfvebg-preview-1 {
  width: 25%;
  height: 24%;
  padding-left: 2rem;
  border-radius: 4.9375vw;
  object-fit: fill;
}
.CyberComponent {
  width: 23.0625vw;
  height: auto;
  padding-left: 3rem;
  font-family: SawarabiMincho;
  font-size: 3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.A-resilient-Framework-for-collecting-and-responding-t-o-digital-crimes-and-frauds {
  width: 33.8125vw;
  height: 7.25vh;
  padding-left: 3rem;
  font-family: SawarabiMincho;
  font-size: 1.4rem;
  color: #fff;
}
.Rising-Threat-National-Concern-Action-Needed {
  width: 15vw;
  height: 4.5vh;
  padding-left: 3rem;
  font-family: SawarabiMincho;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
}
.F_img_1 {
  padding-top: 0.6rem;
  padding-left: 3.5rem;
  height: 30%;
  width: 100%;
}
.icc {
  width: 60%;
  height: 70%;
  padding-left: 1rem;
}

.emblem {
  width: 60%;
  height: 79%;
}

.CyberDost {
  width: 45%;
  height: 80%;
  padding-left: 1rem;
}
.left_up {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.85);
  font-family: SawarabiMincho;
  margin-top: 5rem;
  margin-left: 5rem;

}
.subtext{
  margin-bottom: 1.2rem;
}
.Footer_icons{
  width: 100%;
  height: auto;
  display: flex;
  margin-left: 5rem;
}
.Frame5{
  width: 10%;
  height: auto;
}
.ho{
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.50);
}
.ho_text{
  margin-left: 1rem;
  margin-top: 0.1rem;
}
