.ReportContainer {
    width: 100%;
    height: 100vh;
    flex-grow: 0;
    border-radius: 2px;
    background-image: linear-gradient(to bottom,
            #000000d9,
            #0b0000,
            rgba(0, 0, 0, 0.89));
    background-color: #000000;
}

.Report-An-Incident-Immediately {
    width: auto;
    height: auto;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 300;
    color: #A4E1F4;
    white-space: nowrap;
    margin: 0;
    /* Remove margin */
    position: absolute;
    /* Use absolute positioning */
    top: 0;
    /* Align to the top of the container */
    left: 50%;
    /* Align horizontally to the center */
    transform: translateX(-50%);
    /* Center horizontally */
}


.ReportLine {

    width: 100%;
    height: 0.0625vh;
    background-color: #5b5858;
    position: absolute;
    /* Use absolute positioning */
    top: 3rem;
    /* Align to the top of the container */


}

/* these are big button css */

.ButtonCSS {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.ButtonReport {
    width: 30%;
    height: 12.25vh;
    margin: 3.5rem;
    padding: 1.25rem 1.875rem;
    border-radius: 0.3125rem;
    box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    background-color: #295f86;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ButtonReport:hover {
    transform: scale(1.1);
    background-color: #1a5995;
}

.ReportText {
    height: auto;
    font-family: SawarabiMincho;
    font-size: 1.75rem;
    font-weight: normal;
    color: #fff;
    margin: 0;
    white-space: nowrap;
}

.Endline {
    width: 60%;
    height: 0.2vh;
    background-color: #5b5858;
    margin-top: 0rem;

}

.AlignToUseAll {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 10vh;
    background-color: #222222;
    bottom: 1rem;
}

.FinalAlign {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 10vh;
    background-color: #000000;
    bottom: 1rem;
}


.BlockForReport1 {
    width: 80%;
    height: 45vh;
    border-radius: 0.625rem;
    background-color: #222222;
    margin: 1rem auto 2%;
    /* Adjusted margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Reporttheblock {
    width: 80%;
    height: 45vh;
    border-radius: 0.625rem;
    background-color: #000000;
    margin: 1rem auto 2%;
    /* Adjusted margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.TextBoxText {
    width: 100%;
    height: 30vh;
    background-color: #222222;



}

.forLinks {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #222222;
    text-decoration: none;
}


.IncidentHeader {
    width: 5.625rem;
    height: 1.5rem;
    margin: 1rem 0 1.5rem 0;
    font-family: SawarabiMincho;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-decoration: none;
    /* Remove underline from links */
}


.ArrowIcon {
    color: #fff;
    margin: 0.3rem 0 0 0.2rem;
}

/* these are text box button css */

.BoxVictimReport {
    /* width: 8%; */
    /* height: 5.25vh; */
    margin: 1rem 0 0 1rem;
    padding: 1.25rem 0.5rem; /* Adjusted padding */
    border-radius: 0.3125rem;
    background-color: #222222;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}




/* these are smaller buttons */
.CSSForSmallerButton {
    width: 80%;
    height: auto; /* Adjusted height */
    border-radius: 0.625rem;
    background-color: #0b0000;
    margin: 1rem auto 2%;
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap onto next line */
    justify-content: center; /* Center align flex items horizontally */
    align-items: center;
}

.SmallerButtonCSS {
    width: 16%; /* Allow button width to adjust according to content */
    height: 15vh; /* Allow button height to adjust according to content */
    margin: 1.5rem; /* Adjust margin as needed */
    padding: 1.25rem 1.875rem;
    border-radius: 0.3125rem;
    box-shadow: inset 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    background-color: #295f86;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.SmallerButtonCSS:hover {
    transform: scale(1.1);
    background-color: #1a5995;
}

.SmallerTextButton {
    font-family: SawarabiMincho;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    margin: 0;
    white-space: normal;
    overflow: hidden;
    text-align: center;
}
.BoxVictimReport:hover {
    transform: scale(1.1);
    /* background-color: #333333; */
}

.TextVictimReport {
    height: auto;
    font-family: SawarabiMincho;
    font-size: 1.75rem;
    font-weight: normal;
    color: #fff;
    margin: 0;
    white-space: nowrap;
}


.AlignmentForVictimReport {
    display: flex;
    flex-wrap: wrap;
}